:root {
    --color-primary:#2F2F2F;
    --color-dark-gray:#484848;
    --color-gray:#838383;
    --color-light-gray:#D9D9D9;
    --color-white: #F6F6F6;
    --font-title: 'Eina01';
    --font-main: 'TildaSans';
    --font-main-sb: 'TildaSans-SemiBold'
  }