:root {
    --color-primary:#2F2F2F;
    --color-dark-gray:#484848;
    --color-gray:#838383;
    --color-light-gray:#dfe1e2;
    --color-white: #F6F6F6;
    --font-title: 'Bounded';
    --font-main: 'TildaSans';
    --font-main-sb: 'TildaSans-SemiBold'

  }