@import './_variables.css';

@font-face {
    font-family: 'Eina01';
    src: url('/public/fonts/Eina01-Bold.ttf');
  }
  
  @font-face {
    font-family: 'TildaSans';
    src: url('/public/fonts/TildaSans-Regular.ttf');
  }

  @font-face {
    font-family: 'TildaSans-SemiBold';
    src: url('/public/fonts/TildaSans-SemiBold.ttf');
  }
  
html{
  font-size: 16px;
}

body {
    font-family: var(--font-main);
    margin: 0;
    padding: 0;

}

.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
}



