@import '../_variables.css';


.cartItem{
    margin-bottom: 15px; 
    display: flex;
    align-items: center;
    padding: 12px 10px;
    border: 1.5px solid var(--color-light-gray);
    border-radius: 5px;
}

.cartItem .btn--icon{
    margin: 0px;
}

.trashButton{
    margin: 0px 10px!important;
}

.button-container{
    display: flex;
    align-items: center;
}