@import '../_variables.css';

.header{
  
   display: flex; 
   justify-content: space-between;
   height: 90px;
}

.container{
    margin: 20px 100px 5px;
    display: flex;
    flex-direction: column;
}
.container::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--color-gray);
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icons{
    display: flex;
    justify-content: end;
}

svg{
    margin-top: -6px;
}
.text-header{
    font-size: 16px;
    color: var(--color-gray);
    margin: 0px;
    text-align: end;
}