@import '../_variables.css';

.input{
    height: 25px;
    border-radius: 0.15rem;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    padding: 4px 10px;
    background-color: var(--color-light-gray) ;
}


.input input{
    font-family: var(--font-main);
    font-size: 0.8rem;
    background: none;
    outline: none;
    box-shadow: none;
    border: none;
}
.search{
    display: flex;
}