.page{
    margin: 40px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 
    repeat(2, 0.6fr)     
    repeat(1, 0.3fr)  
    repeat(3, 0.6fr)
    repeat(1, 0.3fr)
    repeat(1, 0.6fr)
    repeat(2, 0.4fr)
    repeat(1, 0.6fr);        
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

h1{
    font-family: var(--font-title);
    margin: 0;
  }

.page .block{
    background-color: rgb(76, 75, 74);
}

