@import '../_variables.css';


nav{
    display: flex;
    justify-content: space-between;
}

a{
    font-size: 20px;
    font-family: var(--font-main-sb);
    color: var(--color-primary);
    outline: none;
    text-decoration: none;
}

a:visited {
    color: var(--color-primary);
  }
  