.page{
    margin: 40px 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

h1{
    font-family: var(--font-title);
    margin: 0;
  }

.page .block{
    background-color: rgb(76, 75, 74);
}


main{
    min-height: 100vh;
}